.mat-expansion-panel {
    margin: 10px 0px;
    .mat-panel-title {
        font-weight: bold;
        color: #000;
    }
    .checkbox-container {
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }
}
