.container {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    min-width: 700px;
    .card-list-container {
        display: inline-flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        margin-bottom: 60px;
        .employee-card {
            width: 250px;
            margin: 10px;
            overflow: hidden;
            .card-header-image {
                background-size: center;
                display: grid;
                place-items: center;
                background-color: lightgrey;
            }
            .mat-card-content {
                div {
                    display: flex;
                    p {
                        margin-bottom: 4px;
                    }
                    p:first-child {
                        width: 40%;
                        color: #000000de;
                        opacity: 0.7;
                    }
                    p:nth-child(2) {
                        width: 60%;
                    }
                }
            }
            .mat-card-title {
                font-size: 16px;
            }
        }
    }
    .no-data-found-img {
        height: 300px;
        width: 300px;
        padding: 30px;
        margin-bottom: 60px;
    }
    .paginator-container {
        position: absolute;
        bottom: 0;
        width: fit-content;
        display: flex;
        justify-content: center;
        padding: 20px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        min-width: 450px;
    }
}
