.mat-drawer-container {
    height: calc(100% - 64px);
    .mat-drawer {
        width: 20%;
        padding: 10px;
        background-color: #f2f2f2;
    }
    @media only screen and (max-width: 768px) {
        .mat-drawer {
            width: 100%;
        }
    }
    .sidenav-content {
        padding: 20px 5%;
    }
}
